# flagmega-kernel: gdn_recurrent/persistent paired-projection-v46
{% include "kernels/gdn_recurrent/_paired_projection.py.jinja" %}
{% include "flagmega_core/kernels/gdn_recurrent/persistent.py.jinja" %}
