# flagmega-kernel: paged_attention_gated_combine/decode
{% with attention_combine_family = "paged_attention_gated_combine" %}
{% include "kernels/paged_attention_combine/_function.py.jinja" %}
{% endwith %}
