# flagmega-kernel: sparse_experts_down/simt platform=generic
{% if render_calls is defined %}
{% import "entrypoints/_common.py.jinja" as entry with context %}
{% for call in render_calls %}
{% if call.family == "sparse_experts_down" and call.variant == "simt" %}
{{ entry.kernel_decorator(call) }}
def {{ call.symbol }}({{ call.signature }}):
{{ entry.mesh_coordinates() }}
    for _fm_token in tl.range(0, {{ call.tokens }}):
        for _fm_n_start in tl.range(0, {{ call.scalar_n }}, {{ call.block_n }}):
            _fm_n = _fm_n_start + tl.arange(0, {{ call.block_n }})
            _fm_n_mask = (_fm_n < {{ call.scalar_n }}) & ({{ call.n_active }}) & ({{ call.token_active }})
            _fm_output = tl.full(({{ call.block_n }},), 0, tl.float32)
            for _fm_route in tl.range(0, {{ call.routes }}, num_stages=3):
                _fm_expert = tl.load({{ call.pointers.router_expert_ids }} + ({{ call.expert_offset }}), mask={{ call.slot_active }}, other=0).to(tl.int64)
{% if call.combine_routes %}
                _fm_probability = tl.load({{ call.pointers.router_expert_weights }} + ({{ call.probability_offset }}), mask={{ call.slot_active }}, other=0).to(tl.float32)
{% endif %}
                _fm_input_scale = {{ call.scale_loads.down_input_scale }}
                _fm_scale = {{ call.scale_loads.down_proj_scale }}
                _fm_partial = tl.full(({{ call.block_n }}, {{ call.block_k }}), 0, tl.float32)
                for _fm_k_start in tl.range(0, {{ call.scalar_k }}, {{ call.block_k }}):
                    _fm_k = _fm_k_start + tl.arange(0, {{ call.block_k }})
                    _fm_k_mask = (_fm_k < {{ call.scalar_k }}) & ({{ call.k_active }}) & ({{ call.slot_active }})
                    _fm_activation = tl.load({{ call.pointers.activations }} + ({{ call.activation_offset }}), mask=_fm_k_mask, other=0).to(tl.float32)
                    _fm_weight = tl.load({{ call.pointers.down_weight }} + ({{ call.weight_offset }}), mask=_fm_n_mask[:, None] & _fm_k_mask[None, :], other=0).to(tl.float32)
                    _fm_partial += {% if call.unit_scales.down_input_scale %}_fm_activation{% else %}tl.div_rn(_fm_activation, _fm_input_scale){% endif %}[None, :] * _fm_weight
                _fm_projection = tl.sum(_fm_partial, 1) * _fm_input_scale * _fm_scale
{% if call.attrs.round_projection %}
                _fm_projection = _fm_projection.to({{ call.activation_dtype }}).to(tl.float32)
{% endif %}
{% if call.combine_routes %}
                _fm_weighted = _fm_projection * _fm_probability
{% if call.attrs.round_weighted_output %}
                _fm_weighted = _fm_weighted.to({{ call.weighted_dtype }}).to(tl.float32)
{% endif %}
                _fm_output += _fm_weighted
{% else %}
                tl.store({{ call.result }} + ({{ call.result_offset }}), _fm_projection, mask=_fm_n_mask & ({{ call.route_active }}) & ({{ call.writer_active }}))
{% endif %}
{% if call.combine_routes %}
            tl.store({{ call.result }} + ({{ call.result_offset }}), _fm_output, mask=_fm_n_mask & ({{ call.writer_active }}))
{% endif %}


{% endif %}
{% endfor %}
{% endif %}
