name: Cambricon-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cambricon-build-and-test:
    uses: flagos-ai/flagtree/.github/workflows/cambricon-build-and-test.yml@main
