name: Hcu-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  hcu-build-and-test:
    uses: flagos-ai/flagtree/.github/workflows/hcu-build-and-test.yml@main
