name: Iluvatar-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  iluvatar-build-and-test:
    uses: flagos-ai/flagtree/.github/workflows/iluvatar-build-and-test.yml@main
