name: Metax-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  metax-build-and-test:
    uses: flagos-ai/flagtree/.github/workflows/metax-build-and-test.yml@main
