name: Mthreads-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  mthreads-build-and-test:
    uses: flagos-ai/flagtree/.github/workflows/mthreads-build-and-test.yml@main
