
name: Xpu-Build-And-Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  xpu-build-and-test:
    uses: flagos-ai/flagtree/.github/workflows/xpu-build-and-test.yml@main
